<?xml version="1.0"?> 
<widget xmlns="http://www.w3.org/ns/widgets">
	<name>GUI - Foundation Visualblocks</name>
	<version>1.16.02.28</version>
	<license>Commercial</license>
	<author>Jasman</author>
	<authorURL>http://ihsana.com/jasman.z</authorURL>
	<description>Galau UI - Foundation Visualblocks is a TinyMCE plugin for display grid foundation framework</description>
	<tags>plugin, tinymce, foundation, grid, view</tags>
	<preferences>
		<preference name="id" value="gui_fi_visualblocks"></preference>
		<preference name="framework" value="foundation"></preference>
		<preference name="path" value="add-ons/gui_fi_visualblocks/plugin.min.js"></preference>
		<preference name="button" value="gui_fi_visualblocks"></preference>
        <preference name="menu" value="gui_fi_visualblocks"></preference>
        <preference name="gui_fi_visualblocks" value="{default_state:true,toolbar_text:true,css:{exist:true,external:gui_foundation_url}}"></preference>
	</preferences>
</widget>